body {
  font-family: Arial, Helvetica, sans-serif;
  color: #cafafe;
  background-color: #000;

  max-width: 48rem;
  min-width: 16rem;
  margin: auto;
  border: none;
  padding: 1rem;
}

a:link {
  color: #4eacf0;
}
/* #97caef */

a:hover,
a:active {
  color: #fc4445;
}

a:visited {
  color: #f54bca;
}

address {
  font-style: normal;
}

footer {
  text-align: center;
  padding: 50px;
}
